<nav class="navbar navbar-inverse navbar-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Car Reservation Managment Tool", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Make Reservation", root_path %> </li>
      <li><%= link_to "Cars", cars_path %> </li>
      <li><%= link_to "Users", users_path %> </li>
      </ul>
    </div>
  </div>
</nav>
